{% extends 'base.html.twig' %}

{% block title %}| {{ author.name }}'s edit page{% endblock %}

{% block body %}

    <h1>{{ author.name }}'s Edit Page</h1>
    <hr/>
    {{ form(author_form) }}

{% endblock %}
