{% extends 'base.html.twig' %}

{% block title %}| Authors{% endblock %}

{% block body %}

    {% if app.user %}
        <a href="{{ path('create_author') }}" class="btn btn-success btn-sm">Create</a>
    {% endif %}

    {% if authors|length %}
        <div class="content">
            <div class="row">
                {% for author in authors %}
                    <div class="card col-sm-4" style="margin: 10px 0 0 5px;">
                        <div class="card-body">
                            <h5 class="card-title"><a href="{{ path('show_author', { 'id': author.id }) }}">{{ author.name }}</a></h5>

                            {% if author.image %}
                                <img src="{{ asset(author.image) }}" width="50%" />
                            {% else %}
                                <img src="{{ asset('/images/default/author.png') }}" width="50%" />
                            {% endif %}
                            <br/>
                        {{ author.biography|slice(0, 50)}}
                        <br/>
                        <hr/>
                        {{ author.books|length}} books
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}
