{% extends 'base.html.twig' %}

{% block title %}| {{ author.name }}'s Info Page{% endblock %}

{% block body %}

{% set vote = author_ratings|calculate %}
    {% set birthday = author.birthday %}
    {% set current = date()|date('m-d') %}

    <h1>{{ author.name }}'s Info Page 
        {% if birthday and birthday == current %}
            <img src="{{ asset('/images/default/birthday.png') }}" width="5%" title="Happy Birthday!" />
        {% endif %}

        {% if app.user and 'ROLE_ADMIN' in app.user.roles %}
            <a href="{{ path('edit_author', {'id': author.id}) }}" class="btn btn-primary btn-sm">Edit</a>
        {% endif %} 
    </h1>

    <div class="row">
            <div class="row">
            <h6>
                {% if vote < 3 %}
                    <span class="badge bg-warning text-dark">{{vote}}</span>
                {% elseif vote > 2 and vote < 4 %}
                    <span class="badge bg-primary">{{vote}}</span>
                {% else %}
                    <span class="badge bg-success">{{vote}}</span>
                {% endif %}
            </h6>
            </div>
            <div class="row">
                <h6>
                {% if current_vote %}
                    {% set your_vote = current_vote.vote %}
                        {% if your_vote < 3 %}
                            <span class="badge bg-warning text-dark">Your vote {{your_vote}}</span>
                        {% elseif your_vote > 2 and your_vote < 4 %}
                            <span class="badge bg-primary">Your vote {{your_vote}}</span>
                        {% else %}
                            <span class="badge bg-success">Your vote {{your_vote}}</span>
                        {% endif %} 
                {% endif %}
                </h6>
            </div>

            {% if app.user %}
                <div class="row">
                    {{ form(favourite_form) }}
                </div>
            {% endif %}
        </div>
    
<hr/>

    <div class="row">

        <div class="col">
        {% if author.image %}
            <img src="/{{ author.image }}" width="50%" />
        {% else %}
            <img src="{{ asset('/images/default/author.png') }}" width="50%" />
        {% endif %}
        </div>
    
        <br/>

        {% if app.user %}
            <br/><hr/>
            {{ form_start(author_rating_form) }}
                <div class="row">
                    <div class="col-sm-1">
                        {{ form_widget(author_rating_form.votes)}}
                    </div>
                    <div class="col-sm-1">
                        {{ form_widget(author_rating_form.vote)}}
                    </div>
                </div>
            {{ form_end(author_rating_form)}}
            <hr/>
            <br/>
        {% endif %}
    </div>

    <div class="row">
         {{ author.biography }}
    </div>

    <div class="row">
        {% if author.books | length > 0 %}
            <hr/>
            <h1>{{ author.name }}'s Books</h1>
            <hr/>

            <div class="content">
                <div class="row">
                    {% for book in author.books %}
                        <div class="card col-sm-4" style="margin: 10px 0 0 5px;">
                          <div class="card-body">
                            <h5 class="card-title"><a href="{{ path('show_book', { 'id': book.id }) }}">{{ book.name }}</a></h5>
                            <h5><a href="{{ path('show_genre', {'genre': book.genre.name}) }}" class="btn btn-primary btn-sm">{{ book.genre.name }}</a> </h5>
                            <h6 class="card-subtitle mb-2 text-muted">Written by {{ book.author.name }}</h6>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>


    <div class="row">
        {% if app.user %}
        <div class="col-sm-4">
            <hr />
        </div>
        <div class="col">
            <h1>Comment section</h1>
        </div>
        <div class="col-sm-3">
            <hr />
        </div>

        <div class="row">
            <div class="col-sm-4">
                {{ form(comment_form) }}
            </div> 
        </div>       
        {% endif %}
        <div class="row">
            {% set commented = author.comments|length %}
            {% set comments = author.comments %}

            <br/>
            {% if commented %}
                <div class="col">
                    <hr />
                </div>
                <div class="col">
                    <h1>COMMENTS</h1>
                </div>
                <div class="col">
                    <hr />
                </div>
                {% for comment in comments %}
                    <div class="row">
                        <div class="col-sm-2">
                            <b>{{ comment.users.username }}</b> said: <br/>
                        </div>
                        <div class="col">
                            {{ comment.body }}
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <hr/>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

{% endblock %}
