{% extends 'base.html.twig' %}

{% block title %}| Index{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Welcome to Book List!</h1>
    <hr/>

    <div class="row">
        <div class="col-sm-2">
            <a href=" {{ path('books') }}">{{ books }}</a> books
        </div>

        <div class="col-sm-2">
            <a href="{{ path('authors') }}">{{ authors }}</a> authors
        </div>

        <div class="col-sm-2">
            <a href="{{ path('genres') }}">{{ genres }}</a> genres
        </div>

        <div class="col-sm-2">
            <a href="{{ path('users') }}">{{ users }}</a> users
        </div>
    </div>


    {% if last_author %}
        <div class="content">
            <div class="row">
                <div class="col-sm-4">
                    <hr />
                </div>
                <div class="col">
                    <h1>Last Author</h1>
                </div>
                <div class="col-sm-4">
                    <hr />
                </div>
            </div>

            <div class="row">
                <div class="card col-sm-4" style="margin: 10px 0 0 5px;">
                    <div class="card-body">
                        <h5 class="card-title"><a href="{{ path('show_author', { 'id': last_author.id }) }}">{{ last_author.name }}</a></h5>
                            {% if last_author.image %}
                                <img src="{{ asset(last_author.image) }}" width="50%" />
                            {% else %}
                                <img src="{{ asset('/images/default/author.png') }}" width="50%" />
                            {% endif %}
                            <br/><hr/>
                        {{ last_author.biography|slice(0, 100)}}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if last_book %}
        <div class="content">
            <div class="row">
                <div class="col-sm-4">
                    <hr />
                </div>
                <div class="col">
                    <h1>Last Book</h1>
                </div>
                <div class="col-sm-4">
                    <hr />
                </div>
            </div>

            <div class="row">
                <div class="card col-sm-4" style="margin: 10px 0 0 5px;">
                    <div class="card-body">
                        <h5 class="card-title"><a href="{{ path('show_book', { 'id': last_book.id }) }}">{{ last_book.name }}</a></h5>
                            {% if last_book.cover %}
                                <img src="{{ asset(last_book.cover) }}" width="50%" />
                            {% else %}
                                <img src="{{ asset('/images/default/book.png') }}" width="50%" />
                            {% endif %}
                            <br/><hr/>
                        {{ last_book.description|slice(0, 100)}}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}
