{% extends 'base.html.twig' %}

{% block title %}| Genres{% endblock %}

{% block body %}

    <div class="content">
        {% if app.user %}
            <div class="row">
                <div class='col'>
                <a href="{{ path('create_genre') }}" class='btn btn-success btn-sm'>Add</a>
                </div>
            </div>
        {% endif %}

        <div class="row">
            {% for genre in genres %}
                <div class="card col-sm-4" style="margin: 10px 0 0 5px;">
                  <div class="card-body">
                    <h5 class="card-title">{{ genre.name }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ genre.books | length }} books with this genre</h6>
                    <a href="{{ path('show_genre', {'genre': genre.name}) }}" class="card-link">See all books</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
