{% extends 'base.html.twig' %}

{% block title %}| Genres{% endblock %}

{% block body %}

    <div class="content">
        <div class="row">
            <div class='col'>
            <a href="{{ path('genres') }}" class='btn btn-primary btn-sm'>Back</a> 
            </div>
        </div>

        <div class="row">
            {% for book in books %}
                <div class="card col-sm-4" style="margin: 10px 0 0 5px;">
                  <div class="card-body">
                    <h5 class="card-title"><a href="{{ path('show_book', { 'id': book.id }) }}">{{ book.name }}</a></h5>
                    <h6 class="card-subtitle mb-2 text-muted">Written by {{ book.author.name }}</h6>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
