{% extends 'base.html.twig' %}

{% block title %}| Books{% endblock %}

{% block body %}
    
    {% if app.user %}
        <a href="{{ path('create_book') }}" class="btn btn-success btn-sm">Create</a>
    {% endif %}

    <div class="content">
        <div class="row">
            {% for book in books %}
                <div class="card col-sm-4" style="margin: 10px 0 0 5px;">
                  <div class="card-body">
                    <h5 class="card-title"><a href="{{ path('show_book', { 'id': book.id }) }}">{{ book.name }}</a></h5>
                    {% if book.cover %}
                        <img src="{{ asset(book.cover) }}" width="50%" />
                    {% else %}
                        <img src="{{ asset('/images/default/book.png') }}" width="50%" />
                    {% endif %}
                    <br/><br/>
                    <h5><a href="{{ path('show_genre', {'genre': book.genre.name}) }}" class="btn btn-primary btn-sm">{{ book.genre.name }}</a></h5>
                    {{ book.description|slice(0, 100)}}
                    <hr/>
                    <h6 class="card-subtitle mb-2 text-muted">Written by <a href="/authors/{{book.author.id}}">{{ book.author.name }}</a></h6>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
