{% extends 'base.html.twig' %}

{% block title %}| Books{% endblock %}

{% block body %}
    {% set vote = book_ratings|calculate %}

    <div class='row'>
        <div class="col">
            <h1>{{ book.name}} <a href="{{ path('show_genre', {'genre': book.genre.name}) }}" class="btn btn-success btn-sm">{{ book.genre.name }} </a>

            {% if app.user and 'ROLE_ADMIN' in app.user.roles %}
                <a href="{{ path('edit_book', {'id': book.id}) }}" class="btn btn-primary btn-sm">Edit</a>
            {% endif %} 
        </h1>
        </div>

        <div class="row">
            <div class="row">
            <h6>
                {% if vote < 3 %}
                    <span class="badge bg-warning text-dark">{{vote}}</span>
                {% elseif vote > 2 and vote < 4 %}
                    <span class="badge bg-primary">{{vote}}</span>
                {% else %}
                    <span class="badge bg-success">{{vote}}</span>
                {% endif %}
            </h6>
            </div>
            <div class="row">
                <h6>
                {% if current_vote %}
                    {% set your_vote = current_vote.vote %}
                        {% if your_vote < 3 %}
                            <span class="badge bg-warning text-dark">Your vote {{your_vote}}</span>
                        {% elseif your_vote > 2 and your_vote < 4 %}
                            <span class="badge bg-primary">Your vote {{your_vote}}</span>
                        {% else %}
                            <span class="badge bg-success">Your vote {{your_vote}}</span>
                        {% endif %} 
                {% endif %}
                </h6>
            </div>
            {% if app.user %}
                <div class="row">
                    {{ form(favourite_form) }}
                </div>
            {% endif %}
        </div>
    </div>
    <hr/>

    <div class="row">
        <div class="row">
            <div class="col">
                <b>Author: </b><a href="{{ path('show_author', {'id': book.author.id}) }}" >{{ book.author.name }}</a> | <b>Published: </b>
                {{ book.published|date('Y-m-d')}}
            </div>
            <br/>
        </div>

        <div class="row">
            <div class="col">
                {% if book.cover != null %}
                    <img src="/{{ book.cover }}"  width="30%" />
                {% else %}
                    <img src="{{ asset('images/default/book.png') }}" width="30%" />
                {% endif %}
            </div>
        </div>

        {% if app.user %}
            {{ form_start(book_rating_form) }}
                <div class="row">
                    <div class="col-sm-1">
                        {{ form_widget(book_rating_form.votes)}}
                    </div>
                    <div class="col-sm-1">
                        {{ form_widget(book_rating_form.vote)}}
                    </div>
                </div>
            {{ form_end(book_rating_form)}}
        {% endif %}

        <hr/>
        <div class="row">
            <div class="col">
                {{ book.description }}
            </div>
        </div>
    </div>


    <div class="row">
        {% if app.user %}
        <div class="col-sm-4">
            <hr />
        </div>
        <div class="col">
            <h1>Comment section</h1>
        </div>
        <div class="col-sm-3">
            <hr />
        </div>

        <div class="row">
            <div class="col-sm-4">
                {{ form(comment_form) }}
            </div> 
        </div>       
        {% endif %}
        <div class="row">
            {% set commented = book.comments|length %}
            {% set comments = book.comments %}

            <br/>
            {% if commented %}
                <div class="col">
                    <hr />
                </div>
                <div class="col">
                    <h1>COMMENTS</h1>
                </div>
                <div class="col">
                    <hr />
                </div>
                {% for comment in comments %}
                    <div class="row">
                        <div class="col-sm-2">
                            <b>{{ comment.users.username }}</b> said: <br/>
                        </div>
                        <div class="col">
                            {{ comment.body }}
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <hr/>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

{% endblock %}
