{% extends 'base.html.twig' %}

{% block title %}| Search{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {% if authors %}
        <div class="content">
            <div class="row">
                <div class="col-sm-5">
                    <hr />
                </div>
                <div class="col">
                    <h1>Authors</h1>
                </div>
                <div class="col-sm-4">
                    <hr />
                </div>
            </div>

            <div class="row">
                {% for author in authors %}
                    <div class="card col-sm-4" style="margin: 10px 0 0 5px;">
                        <div class="card-body">
                            <h5 class="card-title"><a href="{{ path('show_author', { 'id': author.id }) }}">{{ author.name }}</a></h5>

                            {% if author.image %}
                                <img src="{{ asset(author.image) }}" width="50%" />
                            {% else %}
                                <img src="{{ asset('/images/default/author.png') }}" width="50%" />
                            {% endif %}
                            <br/>
                        {{ author.biography|slice(0, 50)}}
                        <br/>
                        <hr/>
                        {{ author.books|length}} books
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if books %}
        <div class="content">
            <div class="row">
                <div class="col-sm-5">
                    <hr />
                </div>
                <div class="col">
                    <h1>Books</h1>
                </div>
                <div class="col-sm-4">
                    <hr />
                </div>
            </div>

            <div class="row">
                {% for book in books %}
                    <div class="card col-sm-4" style="margin: 10px 0 0 5px;">
                        <div class="card-body">
                            <h5 class="card-title"><a href="{{ path('show_book', { 'id': book.id }) }}">{{ book.name }}</a></h5>
                            {% if book.cover %}
                                <img src="{{ asset(book.cover) }}" width="50%" />
                            {% else %}
                                <img src="{{ asset('/images/default/book.png') }}" width="50%" />
                            {% endif %}
                            <br/><br/>
                            <h5><a href="{{ path('show_genre', {'genre': book.genre.name}) }}" class="btn btn-primary btn-sm">{{ book.genre.name }}</a></h5>
                            {{ book.description|slice(0, 100)}}
                            <hr/>
                            <h6 class="card-subtitle mb-2 text-muted">Written by <a href="/authors/{{book.author.id}}">{{ book.author.name }}</a></h6>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if by_genre %}
        <div class="content">
            <div class="row">
                <div class="col-sm-4">
                    <hr />
                </div>
                <div class="col">
                    <h1>{{ by_genre.name }} books</h1>
                </div>
                <div class="col-sm-4">
                    <hr />
                </div>
            </div>

            <div class="row">
                {% for book in by_genre.books %}
                    <div class="card col-sm-4" style="margin: 10px 0 0 5px;">
                        <div class="card-body">
                            <h5 class="card-title"><a href="{{ path('show_book', { 'id': book.id }) }}">{{ book.name }}</a></h5>
                            {% if book.cover %}
                                <img src="{{ asset(book.cover) }}" width="50%" />
                            {% else %}
                                <img src="{{ asset('/images/default/book.png') }}" width="50%" />
                            {% endif %}
                            <br/><br/>
                            <h5><a href="{{ path('show_genre', {'genre': book.genre.name}) }}" class="btn btn-primary btn-sm">{{ book.genre.name }}</a></h5>
                            {{ book.description|slice(0, 100)}}
                            <hr/>
                            <h6 class="card-subtitle mb-2 text-muted">Written by <a href="/authors/{{book.author.id}}">{{ book.author.name }}</a></h6>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}


    {% if users %}
        <div class="content">
            <div class="row">
                <div class="col-sm-5">
                    <hr />
                </div>
                <div class="col">
                    <h1>Users</h1>
                </div>
                <div class="col-sm-4">
                    <hr />
                </div>
            </div>

            <div class="row">
                {% for user in users %}
                    <div class="card col-sm-4" style="margin: 10px 0 0 5px;">
                        <div class="card-body">
                            <h5 class="card-title"><a href="{{ path('show_user', { 'username': user.username }) }}">{{ user.username }}</a></h5>
                            {% if user.UserProfile.image %}
                                <img src="{{ asset(user.userProfile.image) }}" width="50%" />
                            {% else %}
                                <img src="{{ asset('/images/default/default.jpg') }}" width="50%" />
                            {% endif %}
                            <br/><hr/>
                            {{ user.favouriteBooks|length}} liked books <br/>
                            {{ user.favouriteAuthors|length}} liked authors
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}


    {% if not authors and not books and not by_genre and not users %}
        <h1>Nothing found! </h1>
    {% endif %}
</div>
{% endblock %}
