{% extends 'base.html.twig' %}

{% block title %}| Edit {{ user.username }}'s profile{% endblock %}

{% block body %}

    <h1>{{ user.username }}'s basic info</h1>
    <hr/>
    
    {% for flashError in app.flashes('password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    {{ form_start(user_form) }}
        <div class="form-field disabled" disabled>
            {{ form_row(user_form.username) }}
        </div>
    {{ form_end(user_form) }}

    <hr/>

    <h1>{{user.username}}'s profile info</h1>
    <hr/>
    {{ form(user_profile_form) }}
{% endblock %}
