{% extends 'base.html.twig' %}

{% block title %}| Users{% endblock %}

{% block body %}

    {% if users|length %}
            <div class="content">
                <div class="row">
                    {% for user in users %}
                        <div class="card col-sm-4" style="margin: 10px 0 0 5px;">
                            <div class="card-body">
                                <h5 class="card-title"><a href="{{ path('show_user', { 'username': user.username }) }}">{{ user.username }}</a></h5>

                                {% if user.userProfile.image %}
                                    <img src="{{ asset(user.userProfile.image) }}" width="50%" />
                                {% else %}
                                    <img src="{{ asset('/images/default/default.jpg') }}" width="50%" />
                                {% endif %}
                                <br/>
                            <br/>
                            <hr/>
                            {{ user.favouriteBooks|length}} liked books <br/>
                            {{ user.favouriteAuthors|length}} liked authors
                            </div>
                        </div>
                    {% endfor %}
            </div>
        </div>
    {% endif %}

{% endblock %}
