{% extends 'base.html.twig' %}

{% block title %}| {{ user_profile.users.username }}'s profile{% endblock %}

{% block body %}
<div>
    <h1>{{ user_profile.users.username }}'s profile</h1>
    {% if app.user and app.user.username == user_profile.users.username or app.user.roles|first == 'ROLE_ADMIN' %}
        <a href="/users/{{ user_profile.users.username}}/edit" class="btn btn-primary btn-sm">Edit</a>
    {% endif %}

    {% if user_profile.users.roles|first == 'ROLE_ADMIN' %}
        <span class="badge bg-danger" role="alert">ADMIN</span>
    {% else %}
        <span class="badge bg-info text-dark">USER</span>
    {% endif %}
</div>
<hr/>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                {% if user_profile.image != null %}
                    <img src="/{{ user_profile.image }}" width="50%" />
                {% else %} 
                    <img src="{{ asset('images/default/default.jpg') }}" width="50%" />
                {% endif %}
            </div>
            <div class="col-md-6">
                {{ user_profile.aboutMe }} 
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-sm-6">
                        <strong>First name: </strong>
                    </div>
                    <div class="col-md-6">
                        {{ user_profile.firstName }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <strong>Last name: </strong>
                    </div>
                    <div class="col-md-6">
                        {{ user_profile.lastName }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <strong>Birthday: </strong>
                    </div>
                    <div class="col-md-6">
                        {% set birthday = user_profile.birthday|format('m-d') %}
                        {% set current = date()|date('m-d') %}

                        {{ birthday }}
                        {% if birthday and birthday == current %}
                            <img src="{{ asset('/images/default/birthday.png') }}" width="20%" title="Happy Birthday!" />
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            {% set favourite_books = user_profile.users.favouriteBooks %}

            {% if favourite_books|length %}
                <div class="col-sm-3">
                    <hr/>
                </div>
                <div class="col">
                    <h1>{{ user_profile.users.username }}'s favourite books</h1>
                </div>
                <div class="col-sm-2">
                    <hr/>
                </div>
                <div class="row">
                    {% for book in favourite_books %}
                        <div class="card col-sm-4" style="margin: 10px 0 0 5px;">
                          <div class="card-body">
                            <h5 class="card-title"><a href="{{ path('show_book', { 'id': book.id }) }}">{{ book.name }}</a></h5>
                            {% if book.cover %}
                                <img src="{{ asset(book.cover) }}" width="50%" />
                            {% else %}
                                <img src="{{ asset('/images/default/book.png') }}" width="50%" />
                            {% endif %}
                            <br/><br/>
                            <h5><a href="{{ path('show_genre', {'genre': book.genre.name}) }}" class="btn btn-primary btn-sm">{{ book.genre.name }}</a></h5>
                            {{ book.description|slice(0, 100)}}
                            <hr/>
                            <h6 class="card-subtitle mb-2 text-muted">Written by <a href="/authors/{{book.author.id}}">{{ book.author.name }}</a></h6>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
    <br/>
    <div class="row">
            {% set favourite_authors = user_profile.users.favouriteAuthors %}

            {% if favourite_authors|length %}
                <div class="col-sm-3">
                    <hr/>
                </div>
                <div class="col">
                    <h1>{{ user_profile.users.username }}'s favourite authors</h1>
                </div>
                <div class="col-sm-2">
                    <hr/>
                </div>
                <div class="row">
                    {% for author in favourite_authors %}
                        <div class="card col-sm-4" style="margin: 10px 0 0 5px;">
                            <div class="card-body">
                                <h5 class="card-title"><a href="{{ path('show_author', { 'id': author.id }) }}">{{ author.name }}</a></h5>

                                {% if author.image %}
                                    <img src="{{ asset(author.image) }}" width="50%" />
                                {% else %}
                                    <img src="{{ asset('/images/default/author.png') }}" width="50%" />
                                {% endif %}
                                <br/>
                            {{ author.biography|slice(0, 50)}}
                            <br/>
                            <hr/>
                            {{ author.books|length}} books
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
